<!-- <div class="container"> -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/news">TGLabs</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/news">Haberler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/news/add">+ Haber Ekle</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tags">Etiketler</a>
                    </li>
                </ul>
                <% if (user) { %>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Çıkış Yap</a>
                    </li>
                </ul>
                <% } %>
            </div>
        </div>
    </nav>
<!-- </div> -->

