<%- include('../../partials/head' , { title: 'Haberler' }) %>
<%- include('../../partials/header') %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1>Sayfa Bulunamadı</h1>
            <p>Üzgünüz, aradığınız sayfa bulunamadı.</p>
        </div>
    </div>
</div>

<%- include('../../partials/footer') %>