<!DOCTYPE html>
<html>
  <head>
    <title>Veritabanı Hatası</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
      }
      h1 {
        font-size: 36px;
        margin-top: 50px;
      }
      p {
        font-size: 24px;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <h1>Veritabanı Hatası</h1>
    <p>Üzgünüz, veritabanına bağlanırken bir hata oluştu. Lütfen veritabanı ayarlarını kontrol ediniz veya VPN ile bağlanıyorsanız bağlantıyı devre dışı bırakıp tekrar deneyebilirsiniz.</p>
  </body>
</html>
